* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section {
    height: 650px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 40px;
    background-color: aqua;
}

section h2 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 50px;
}

section img {
    height: 60%;
}

.cta {
    display: inline-block;
    background-color: rgb(65, 105, 105);
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;

}

.modal-container {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 40%;
    height: 50%;
    background-color: #fff;
    border-radius: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
}

.modal-textos {
    text-align: center;

}

.modal p {
    margin-top: 15px;
}

.modal-close {
    transform: translateY(-200%);
}

.close {
    position: absolute;
    width: 25px;
    height: 25px;
    line-height: 25px;
    top: 10px;
    right: 30px;
    background-color: rgb(223, 105, 105);
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.modal img {
    height: 50%;
}

@media screen and (max-width: 1000px) {
    section {
        flex-direction: column-reverse;
        align-items: center;
    }

    section img {
        height: 40%;
    }

    .modal {
        padding: 10px;
    }

    .modal-textos {
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    section {
        flex-direction: column-reverse;
        align-items: center;
    }

    section img {
        height: 30%;
    }

   

    .modal {
        padding: 10px;
    }

    .modal-textos {
        font-size: 2.5vh;
    
    }
    
    
}